header, footer, body, th, td {
    color: white;
}

body {
    background-image: url("../../static/dark.jpg");
}

hr {
    background-color: white;
    color: white;
}

table, th, td, tr {
    border: solid white 0.15em;
}

.card-body {
    background-color: black;
}

.card-header {
    background-color: dimgray;
}

.controls {
    background: #333;
    color: #fff;
    border-color: #fff;
}

.controls:hover,
.controls:focus {
    background: #eee;
    color: #333;
}