header, footer, body, th, td {
    color: white;
}

header {
    background-image: linear-gradient(darkblue, black);
}

#changeStyleButton {
    background:url(/static/differentMood/happy.jpg);
}

footer {
    background-image: linear-gradient(black, darkblue);
}

body {
    background-color: black;
}

.card-body {
    background-color: black;
}

.card-header {
    background-color: gray;
}

.blockHeader {
    background-image: linear-gradient(black, darkblue, black);
}

.controls {
    background: #333;
    color: #fff;
    border-color: #fff;
}

.controls:hover,
.controls:focus {
    background: #eee;
    color: #333;
}