header, footer, body {
    color: black;
}

header {
    font-style: italic;
}

header, #blockHeader {
    background-image: linear-gradient(deepskyblue, white);
}

footer {
    background-image: linear-gradient(white, deepskyblue);
    font-size: 1em;
    text-align: right;
}

body {
    background-color: white;
}

.card {
    border-color: darkgray;
}

.card-body {
    background-color: white;
}

.card-header {
    background-color: antiquewhite;
}

#blockHeader {
    font-size: 1.5em;
}