header, footer, body, th, td {
    color: black;
}

body {
    background-image: url("../../static/light.jpg");
}

hr {
    background-color: black;
    color: black;
}

table, th, td, tr {
    border: solid black 0.15em;
}

.card-body {
    background-color: white;
}

.card-header {
    background-color: floralwhite;
}

.controls {
    background: floralwhite;
    color: black;
    border-color: black;
}

.controls:hover,
.controls:focus {
    background: #333333;
    color: white;
}