body {
    background: no-repeat fixed center center;
    background-size: cover;
}

header {
    font-style: italic;
    font-size: 1em;
    height: 2em;
}

footer {
    font-size: 1em;
    text-align: right;
    height: 4em;
}

hr {
    border: none;
    height: 2px;
}

.main-photo, .card, .table, .controls {
    margin-top: 0.5em;
}

.card, .table {
    margin-bottom: 0.5em;
}
.card {
    border-color: darkgray;
}

.card-body {
    height: 3em;
}

#cardQuote {
    height: 5em;
}

.blockHeader {
    font-size: 1.5em;
}

.aboutHome {
    padding-left: 1em;
}

#slides {
    position: relative;
    height: 21em;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slide img {
    width: 25em;
}

.slide {
    position: absolute;
    padding-top: 1em;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.controls {
    padding: 1em;
    font-size: 1em;
    cursor: pointer;
    border: 0.1em solid;
    margin-left: 0.3em;
    width: 3em;
    height: 3em;
}

#previous {
    margin-left: 1em;
}

.container {
    position: relative;
}

@media all and (max-width: 540px) {
    header {
        height: 4em;
    }

    #slides {
        height: 17em;
    }

    .slide img {
        width: 20em;
    }

    th, td {
        font-size: 12px;
    }

    #cardQuote {
        height: 6.5em;
    }
}